# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: snapAddy
sub_title: Mapping Documentation
email: support@snapaddy.com
description: >- # this means to ignore newlines until "baseurl:"
  snapAddy is a sales tool that saves you a lot of time and effort when researching and collecting contact data. Automatic maintenance of contact data in your CRM system!
  This reference helps customers to make a custom CRM mapping with snapAddy.
baseurl: "/" # the subpath of your site, e.g. /blog
url: "http://mapping.snapaddy.com" # the base hostname & protocol for your site, e.g. http://example.com
homepage: "https://snapaddy.com"

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

kramdown:
  smart_quotes: apos,apos,quot,quot

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
