<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-logo">
      <div class="footer-icon">
        <img src="/assets/icon-croco.svg" alt="snapAddy logo">
      </div>
      <h2 class="footer-heading">{{ site.title | escape }} <span>{{ site.sub_title | escape }}</span></h2>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.homepage -%}
              <a href="{{ site.homepage }}">{{ site.homepage |remove_first: "https://" }}</a>
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
