:root {
  --color-darkgreen: #004c37;
  --color-green: #87bd25;
  --color-offwhite: #efefec;
  --color-mint: #67b699;
}

body {
  background: var(--color-offwhite);
}

/**
 * HEADER
 */

.site-header {
  border: none;
  background: var(--color-offwhite);
}

.site-title {
  line-height: 1;
}

.logo-icon {
  margin-top: 8px;
  display: inline-block;
}

.wrapper {
  max-width: 100%;
}

.header-link {
  float: right;
  line-height: 54px;

  .site-nav-link {
    text-decoration: none;
    color: var(--color-darkgreen);
    transition: .15s;
    opacity: 0.75;

    &:hover {
      text-decoration: none;
      opacity: 1;

      span {
        opacity: 1;
      }
    }

    span {
      opacity: 0;
      transition: .2s;
    }
  }
}

/**
 * FOOTER
 */

.site-footer {
  background: var(--color-darkgreen);
  color: white;

  a {
    color: var(--color-green);
    text-decoration: none;
  }

  a:hover {
    color: var(--color-offwhite);
    text-decoration: none;
  }

  p {
    color: var(--color-offwhite);
    opacity: 0.75;
  }
}

.footer-heading {
  color: var(--color-offwhite);
  margin-bottom: 0;
}

.footer-heading span {
  opacity: .75;
}

.footer-icon {
  background: white;
  border-radius: 100%;
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 0.25rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

/**
 * GRID
 */

@media (min-width: 720px) {
  .grid {
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;

    .item:first-child {
      min-width: 350px;
    }

    .item:last-child {
      flex: 1 1 auto;
    }
  }
}

/**
 * HERO
 */

.hero {
  background: var(--color-darkgreen);
  padding: 2rem;
  text-align: center;
  color: var(--color-offwhite);
}

/**
 * LINKS
 */

a {
  color: var(--color-darkgreen);
  text-decoration: underline;
}

a:visited {
  color: var(--color-darkgreen) !important;
}

.post-link {
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  transition: .15s;
}

.post-link p {
  font-size: 16px;
  color: #999 !important;
  margin-bottom: 0;
}

.post-link h3,
.post-link h5 {
  color: #333 !important;
}

.post-link--small {
  padding: 10px;
  margin: 0.25rem;
  margin-bottom: 10px;
}

.post-link--small h5 {
  margin-bottom: 0;
}

.post-link:hover {
  text-decoration: none !important;
  transform: scale(1.02);
}

.post-list--small > li {
  margin-bottom: 10px;
  max-width: 400px;
}

.post-link.active {
  background: var(--color-darkgreen);
}

.post-link.active h5,
.post-link.active h3 {
  color: #fff !important;
}

/**
 * CONTENT
 */

.content {
  margin-top: 4em;
}

.post-list-heading {
  font-size: 35px;
  color: #999;
  margin-inline-start: 0.25rem;
}

.fade-out-text {
  position: relative;
}

.fade-out-text:after {
  position: absolute;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.post-title {
  margin: 0;
}

/**
 * HIGHLIGHT, code
 */

.highlight {
  background: white;
  margin-bottom: 30px;
  border-radius: 0.5rem;

  code,
  pre {
    background: white;
    border-radius: 0.5rem;
    padding: 0.25rem;
  }
}

table {
  table-layout: fixed;

  pre,
  code {
    background-color: transparent;
  }
}

code {
  background-color: whitesmoke;
}

td:has(.highlight) {
  vertical-align: initial;
  padding-block-end: 0px;
}