/**
 * HEADER
 */

.site-header {
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.site-title {
  line-height: 1;
}

.logo-icon {
  margin-top: 8px;
  display: inline-block;
}

.wrapper {
  max-width: calc(1200px - (30px * 2))
}






/**
 * FOOTER
 */

.footer-icon {
  background: #fff;
  border-radius: 100px;
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon svg {
  width: 60%;
  height: auto;
}







/**
 * GRID
 */

.grid {
  overflow: hidden;
  margin-left: -60px;
}

.grid .item {
  padding-left: 60px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
}

.grid .item:first-child {
  width: 30%;
}

.grid .item:last-child {
  width: 70%;
}







.constrain {
  max-width: 800px;
  margin: 0 auto;
}





/**
 * LINKS
 */

a {
  color: #9da600;
}

a:visited {
  color: #9da600;
}
