body {
  background: #f9f9f9;
}

/**
 * HEADER
 */

.site-header {
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  background: #fff;
}

.site-title {
  line-height: 1;
}

.logo-icon {
  margin-top: 8px;
  display: inline-block;
}

.wrapper {
  max-width: 100%;

  /* max-width: calc(1200px - (30px * 2)) */
}

.header-link {
  float: right;
  line-height: 54px;
}






/**
 * FOOTER
 */

.site-footer {
  background: #222;
  color: #fff;
}

.site-footer a {
  color: #666 !important;
}
.site-footer a:hover {
  color: #fff !important;
  text-decoration: none !important;
}

.site-footer .username {
  text-decoration: none !important;
}

.footer-heading {
  color: #ccc;
  margin-bottom: 0;
}

.footer-heading span {
  opacity: .5;
}

.footer-icon {
  background: #fff;
  border-radius: 100px;
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.footer-icon svg {
  width: 60%;
  height: auto;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}






/**
 * GRID
 */

@media (min-width: 720px) {
  .grid {
    overflow: hidden;
    /* margin-left: -60px; */
  }

  .grid .item {
    /* padding-left: 60px; */
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
  }

  .grid .item:first-child {
    width: 30%;
  }

  .grid .item:last-child {
    width: 70%;
  }
}







.constrain {
  max-width: 800px;
  margin: 0 auto;
}









/**
 * HERO
 */

.hero {
  background: #9da600;
  padding: 30px;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.05);
}

.hero p {
  font-size: 21px;
  opacity: .7;
}




/**
 * LINKS
 */

a {
  color: #9da600;
}

a:visited {
  color: #9da600;
}


.post-link {
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  transition: .15s;
}

.post-link p {
  font-size: 16px;
  color: #999 !important;
  margin-bottom: 0;
}
.post-link h3,
.post-link h5 {
  color: #333 !important;
}

.post-link--small {
  padding: 10px;
  margin-bottom: 10px;
}

.post-link--small h5 {
  margin-bottom: 0;
}

.post-link:hover {
  text-decoration: none!important;
  transform: scale(1.02);
}

.post-list--small > li {
  margin-bottom: 10px;
  max-width: 400px;
}

.post-link.active {
  background: #9da600;
}
.post-link.active h5,
.post-link.active h3 {
  color: #fff !important;
}







/**
 * CONTENT
 */

.content {
  /* background: #fff; */
  padding: 4em 0 0 0;
 

.post-list-heading {
  font-size: 35px;
  color: #999;
}

.site-nav-link {
  text-decoration: none!important;
  color: #ccc !important;
  transition: .15s;
}

.site-nav-link:hover {
  text-decoration: none!important;
  color: #999 !important;
}

.site-nav-link span {
  opacity: 0;
  transition: .15s;
}
.site-nav-link:hover span {
  opacity: 1;
}





.fade-out-text {
  position: relative;
}

.fade-out-text:after  {
  position: absolute;
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}







.post-title {
  margin: 0;
}









/**
 * HIGHLIGHT
 */


.highlight code,
.highlight pre {
  background: #fff;
}

.highlight {
  background: #fff;
  margin-bottom: 30px;
}

table pre, table code {
  background-color: transparent;
  border: none;
  padding: 0;
}