<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="grid">
          <div class="item">
            {%- if site.posts.size > 0 -%}
              <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
              <ul class="post-list">
                {%- for post in site.posts -%}
                <li>
                  <a class="post-link{% if post.url == page.url %} active{%- endif -%}" href="{{ post.url | relative_url }}">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                    <h3>
                      {{ post.title | escape }}
                    </h3>
                  </a>
                </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}

          </div><!--
       --><div class="item">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
