<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="hero">
      <div class="constrain">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        {% if false %}
        <p>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
          {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
          {%- endif -%}
        </p>
        {% endif %}
      </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="grid">
          <div class="item">
            {%- if site.posts.size > 0 -%}
              <h4 class="post-list-heading">{{ page.list_title | default: "Choose a topic:" }}</h4>
              <ul class="post-list post-list--small">
                {%- for post in site.posts -%}
                <li>
                  <a class="post-link post-link--small{% if post.url == page.url %} active{%- endif -%}" href="{{ post.url | relative_url }}">
                    <h5>
                      {{ post.title | escape }}
                    </h5>
                  </a>
                </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}

          </div><!--
       --><div class="item">
            <div class="content">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
