<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <div class="hero">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
          <div class="constrain">
            {%- if site.posts.size > 0 -%}
              <h4 class="post-list-heading">{{ page.list_title | default: "Choose a topic:" }}</h4>
              <ul class="post-list">
                {%- for post in site.posts -%}
                <li>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span class="post-meta" style="display: none">{{ post.date | date: date_format }}</span>
                    <h3>
                      {{ post.title | escape }}
                    </h3>
                    <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
                  </a>
                </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
